@import "adaptive";

$gray: rgba(128, 128, 128, 1);
$orange: rgba(232, 89, 10, 1);
$blue: rgba(66, 98, 255, 1);



.name-goods {
  @include adaptiv-font-min(30, 15);
}

.name-goods_margin {
  margin-bottom: min(3vh,22px);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.tag-new {
  background: $blue;
  color: white;
  @include adaptiv-font-min(13, 5);
  border-radius: 20px;
  padding: 0.5% 1%;
}

.tag-free {
  background: $orange;
  color: white;
  @include adaptiv-font-min(13, 5);
  border-radius: 20px;
  padding: 0.5% 1%;
}

.tag-list_margin {
  margin-bottom: min(8vh,58px);
}

.goods-main {
  max-height: 814px;
  display: grid;
  grid-template-columns: 7% 53% 1fr;
  gap: min(2vw,26px);
}

.goods-main__slider {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}


.goods-main__img-container {
  border-radius: 12px;
  border: 1px solid rgba(226, 226, 232, 1);
  width: 100%;
  height: min(6.5vw,51px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  cursor: pointer;
}

.active {
  border: 1px solid black;
  cursor: auto;
}

.img-container {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.goods-main__select {
  display: flex;
  flex-direction: column;
  gap: min(2vw,26px);
}

.goods-main__price {
  @include adaptiv-font-min(38, 23);
}

.goods-main__radio-button {

  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}

.radio-button-color {
  input {
    display: none;
  }

  label {
    position: relative;
    width: min(2.2vw,28px);
    height: min(2.2vw,28px);
    display: block;
  }

  label:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: min(2.2vw,28px);
    height: min(2.2vw,28px);
    outline: 1px solid rgba(215, 217, 220, 1);
    border-radius: 5px;
    background: white;
    cursor: pointer;
    outline-offset: min(0.4vw,5px)
  }

  input[type="radio"]:checked + label:before {
    outline: 2px solid black;
  }

  .radio-color-black:before {
    background: url(../assets/black.svg) ;
    background-size: 100%;
  }

  .radio-color-lazure:before {
    background: url(../assets/lazure.svg) ;
    background-size: 100%;
  }

  .radio-color-blue:before {
    background: url(../assets/blue.svg) ;
    background-size: 100%;
  }

  .radio-color-pink:before {
    background: url(../assets/pink.svg) ;
    background-size: 100%;
  }
}

.simple-text {
  @include adaptiv-font-min(16, 9);
}

.radio-button-memory {

  input {
    display: none;
  }

  label {
    @include adaptiv-font-min(16, 9);
    padding: min(7px,0.5vw) min(1.4vw,18px);
    border: 1px solid rgba(215, 217, 220, 1);
    border-radius: 9px;
    white-space: nowrap;
    cursor: pointer;
  }

  input[type='radio']:checked + label {
    border: 1px solid black;
  }
}

.soon-in {
  display: flex;
  gap: 4%;
  align-items: center;
}

.simple-text_margin {
  margin-bottom: 3%;
}

.simple-text_margin2 {
  margin-bottom: 4%;
}

.goods-main__input {
  div {
    @include adaptiv-font-min(15, 8);
    margin-bottom: 2%;
  }

  input {
    border-radius: 8px;
    border: 1px solid rgba(215, 217, 220, 1);
    padding-left: 3%;
    height: min(4.3vw,54px);
    width: 85%;
  }
}

.button-send_yellow {
  background: rgba(255, 230, 50, 1);
  border: none;
  border-radius: 34px;
  @include adaptiv-font-min(16, 9);
  font-weight: 600;
  width: 50%;
  padding: min(18px,2.6vh) 0;
  cursor: pointer;
}

.snoska {
  color: rgba(115, 115, 115, 1);
  @include adaptiv-font-min(14, 7);
  line-height: 20.67px;
}

.snoska_gray {
  color: rgba(103, 103, 103, 1);
  font-weight: 600;
}

.goods-main__big-picture {
  height: 70%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 7% 7%;
  max-height: 535px;
}

.characterisitc-title {
  background: rgba(249, 249, 249, 1);
  border-radius: 16px;
  display: flex;
  gap: 5%;
  height: min(52px,4vw);
  align-items: flex-end;
  padding: 0 4%;
  cursor: pointer;


  div {
    color: rgba(90, 94, 98, 1);
    @include adaptiv-font-min(15, 8);
    line-height: 28px;
  }

  .active-title {
    color: black;
    border-bottom: 2px solid rgba(66, 98, 255, 1);
    cursor: default;
  }
}

.characterisitc-main-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6%;
}


.characterisitc-main-head {
  @include adaptiv-font-min(24, 12);
  font-weight: 600;
}

.characterisitc-main-body__elem {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(223, 224, 229, 1);
  align-items: center;
  height: min(5.7vw,53px);
  flex-grow: 4;
}

.left-side, .right-side {
  .characterisitc-main-body__elem:last-child {
    border-bottom: none;
  }
}

.characterisitc-main-body__left {
  color: rgba(142, 142, 159, 1);
  @include adaptiv-font-min(13, 6);
}

.characterisitc-main-body__right {
  font-weight: 600;
  @include adaptiv-font-min(14, 7);
}

.characterisitc-detail {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.subtitle-card-goods {
  @include adaptiv-font-min(24, 17);
  font-family: Arial;
  color: rgba(25, 28, 34, 1);

}

.characterisitc-detail-text {
  @include adaptiv-font-min(16, 9);
  line-height: 20px;
  width: 77%;
}

.recently-watched {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.padding-tabs-card-goods{
  padding: 0 min(2.8vw,36px);
}
.goods-main__input_company {
  max-width: 293px;

  div {
    @include adaptiv-font-min(13, 2);
    margin-bottom: 2vh;
  }

  input {
    max-height: 50px;
    border-radius: 34px;
  }
}

.splide__slide {
  background: white !important;

  img {
    display: flex !important;
  }
}

.good-reviews-modal, .good-price-modal, .good-credit-modal, .good-sale-modal {
  display: none;
}

.stars {
  display: flex;
  margin-bottom: min(2vw,26px);

  div {
    margin-right: min(2vw,26px);
    font-family: Roboto;
    @include adaptiv-font-min(16, 12);
  }
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  column-gap: min(39px,3vw);
  row-gap: min(2vw,26px);

  div div {
    @include adaptiv-font-min(16, 12);
    margin-bottom: min(1vw, 10px);
  }

  input, textarea {
    width: 100%;
    height: min(3.9vw, 51px);
    border-radius: 9px;
    border: 1px solid rgba(215, 217, 220, 1);
    padding: 0 min(1vw, 13px);
  }

  div:last-child {
    grid-column: 1 / span 2;

    textarea {
      height: min(8.5vw, 110px);
      padding-top: min(1vw, 13px);

    }
  }
}

.modal-simple-text {
  @include adaptiv-font-min(16, 12);
  font-family: Roboto;
}

.good-price-modal {
  ul {
    list-style-position: inside;
  }
}

.good-price-modal_margin {
  margin-bottom: min(4vw, 39px);
}

.good-credit-modal {
  ol {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    gap: min(0.5vw, 8px);
  }
}

.good-reviews-modal {
  .button-send_yellow {
    width: 17%;
  }
}

.radio-button-color:hover ,.radio-button-memory:hover,.goods-main__img-container:hover,.button-send_yellow:hover,.characterisitc-title div:hover{
  opacity: 0.7;
  cursor: pointer;
}
.beatiful-number__heading_goods-margin{
  margin-bottom: 41px;
}