.name-goods {
  font-size: min(15px + 15 * ((100vw - 320px) / 960), 30px);
}

.name-goods_margin {
  margin-bottom: min(3vh, 22px);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.tag-new {
  background: rgb(66, 98, 255);
  color: white;
  font-size: min(5px + 8 * ((100vw - 320px) / 960), 13px);
  border-radius: 20px;
  padding: 0.5% 1%;
}

.tag-free {
  background: rgb(232, 89, 10);
  color: white;
  font-size: min(5px + 8 * ((100vw - 320px) / 960), 13px);
  border-radius: 20px;
  padding: 0.5% 1%;
}

.tag-list_margin {
  margin-bottom: min(8vh, 58px);
}

.goods-main {
  max-height: 814px;
  display: grid;
  grid-template-columns: 7% 53% 1fr;
  gap: min(2vw, 26px);
}

.goods-main__slider {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.goods-main__img-container {
  border-radius: 12px;
  border: 1px solid rgb(226, 226, 232);
  width: 100%;
  height: min(6.5vw, 51px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  cursor: pointer;
}

.active {
  border: 1px solid black;
  cursor: auto;
}

.img-container {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.goods-main__select {
  display: flex;
  flex-direction: column;
  gap: min(2vw, 26px);
}

.goods-main__price {
  font-size: min(23px + 15 * ((100vw - 320px) / 960), 38px);
}

.goods-main__radio-button {
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}

.radio-button-color input {
  display: none;
}
.radio-button-color label {
  position: relative;
  width: min(2.2vw, 28px);
  height: min(2.2vw, 28px);
  display: block;
}
.radio-button-color label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: min(2.2vw, 28px);
  height: min(2.2vw, 28px);
  outline: 1px solid rgb(215, 217, 220);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  outline-offset: min(0.4vw, 5px);
}
.radio-button-color input[type=radio]:checked + label:before {
  outline: 2px solid black;
}
.radio-button-color .radio-color-black:before {
  background: url(../assets/black.svg);
  background-size: 100%;
}
.radio-button-color .radio-color-lazure:before {
  background: url(../assets/lazure.svg);
  background-size: 100%;
}
.radio-button-color .radio-color-blue:before {
  background: url(../assets/blue.svg);
  background-size: 100%;
}
.radio-button-color .radio-color-pink:before {
  background: url(../assets/pink.svg);
  background-size: 100%;
}

.simple-text {
  font-size: min(9px + 7 * ((100vw - 320px) / 960), 16px);
}

.radio-button-memory input {
  display: none;
}
.radio-button-memory label {
  font-size: min(9px + 7 * ((100vw - 320px) / 960), 16px);
  padding: min(7px, 0.5vw) min(1.4vw, 18px);
  border: 1px solid rgb(215, 217, 220);
  border-radius: 9px;
  white-space: nowrap;
  cursor: pointer;
}
.radio-button-memory input[type=radio]:checked + label {
  border: 1px solid black;
}

.soon-in {
  display: flex;
  gap: 4%;
  align-items: center;
}

.simple-text_margin {
  margin-bottom: 3%;
}

.simple-text_margin2 {
  margin-bottom: 4%;
}

.goods-main__input div {
  font-size: min(8px + 7 * ((100vw - 320px) / 960), 15px);
  margin-bottom: 2%;
}
.goods-main__input input {
  border-radius: 8px;
  border: 1px solid rgb(215, 217, 220);
  padding-left: 3%;
  height: min(4.3vw, 54px);
  width: 85%;
}

.button-send_yellow {
  background: rgb(255, 230, 50);
  border: none;
  border-radius: 34px;
  font-size: min(9px + 7 * ((100vw - 320px) / 960), 16px);
  font-weight: 600;
  width: 50%;
  padding: min(18px, 2.6vh) 0;
  cursor: pointer;
}

.snoska {
  color: rgb(115, 115, 115);
  font-size: min(7px + 7 * ((100vw - 320px) / 960), 14px);
  line-height: 20.67px;
}

.snoska_gray {
  color: rgb(103, 103, 103);
  font-weight: 600;
}

.goods-main__big-picture {
  height: 70%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 7% 7%;
  max-height: 535px;
}

.characterisitc-title {
  background: rgb(249, 249, 249);
  border-radius: 16px;
  display: flex;
  gap: 5%;
  height: min(52px, 4vw);
  align-items: flex-end;
  padding: 0 4%;
  cursor: pointer;
}
.characterisitc-title div {
  color: rgb(90, 94, 98);
  font-size: min(8px + 7 * ((100vw - 320px) / 960), 15px);
  line-height: 28px;
}
.characterisitc-title .active-title {
  color: black;
  border-bottom: 2px solid rgb(66, 98, 255);
  cursor: default;
}

.characterisitc-main-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6%;
}

.characterisitc-main-head {
  font-size: min(12px + 12 * ((100vw - 320px) / 960), 24px);
  font-weight: 600;
}

.characterisitc-main-body__elem {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(223, 224, 229);
  align-items: center;
  height: min(5.7vw, 53px);
  flex-grow: 4;
}

.left-side .characterisitc-main-body__elem:last-child, .right-side .characterisitc-main-body__elem:last-child {
  border-bottom: none;
}

.characterisitc-main-body__left {
  color: rgb(142, 142, 159);
  font-size: min(6px + 7 * ((100vw - 320px) / 960), 13px);
}

.characterisitc-main-body__right {
  font-weight: 600;
  font-size: min(7px + 7 * ((100vw - 320px) / 960), 14px);
}

.characterisitc-detail {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.subtitle-card-goods {
  font-size: min(17px + 7 * ((100vw - 320px) / 960), 24px);
  font-family: Arial;
  color: rgb(25, 28, 34);
}

.characterisitc-detail-text {
  font-size: min(9px + 7 * ((100vw - 320px) / 960), 16px);
  line-height: 20px;
  width: 77%;
}

.recently-watched {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.goods-main__input_company {
  max-width: 293px;
}
.goods-main__input_company div {
  font-size: min(2px + 11 * ((100vw - 320px) / 960), 13px);
  margin-bottom: 2vh;
}
.goods-main__input_company input {
  max-height: 50px;
  border-radius: 34px;
}

.splide__slide {
  background: white !important;
}
.splide__slide img {
  display: flex !important;
}

.good-reviews-modal, .good-price-modal, .good-credit-modal, .good-sale-modal {
  display: none;
}

.stars {
  display: flex;
  margin-bottom: min(2vw, 26px);
}
.stars div {
  margin-right: min(2vw, 26px);
  font-family: Roboto;
  font-size: min(12px + 4 * ((100vw - 320px) / 960), 16px);
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  column-gap: min(39px, 3vw);
  row-gap: min(2vw, 26px);
}
.input-grid div div {
  font-size: min(12px + 4 * ((100vw - 320px) / 960), 16px);
  margin-bottom: min(1vw, 10px);
}
.input-grid input, .input-grid textarea {
  width: 100%;
  height: min(3.9vw, 51px);
  border-radius: 9px;
  border: 1px solid rgb(215, 217, 220);
  padding: 0 min(1vw, 13px);
}
.input-grid div:last-child {
  grid-column: 1/span 2;
}
.input-grid div:last-child textarea {
  height: min(8.5vw, 110px);
  padding-top: min(1vw, 13px);
}

.modal-simple-text {
  font-size: min(12px + 4 * ((100vw - 320px) / 960), 16px);
  font-family: Roboto;
}

.good-price-modal ul {
  list-style-position: inside;
}

.good-price-modal_margin {
  margin-bottom: min(4vw, 39px);
}

.good-credit-modal ol {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  gap: min(0.5vw, 8px);
}

.good-reviews-modal .button-send_yellow {
  width: 17%;
}

/*# sourceMappingURL=card-goods.css.map */
