@import "adaptive";

.banner-company {
  background: url("../assets/banner-company.png");
  background-size: cover;
  //height: min(34vw,436px);
  position: relative;
  aspect-ratio: 4/1;
}

.banner-company__text {
  background: white;
  border-bottom-right-radius: 34px;
  border-top-right-radius: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  padding: min(2.5vw, 32px) min(6%, 77px) min(2.5vw, 32px) min(9%, 115px);
  transform: translateY(-50%);

  max-width: 614px;
  max-height: 183px;
}

.banner-company__head {
  font-family: Inter;
  @include adaptiv-font-min(35, 10);
}

.banner-company__subtext {
  @include adaptiv-font-min(14, 3);
}

.banner-company__play {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 33%;
  width: min(77px, 6vw);
  height: min(77px, 6vw);
}

.margin-very-very-big {
  margin-bottom: min(8vw, 103px);
}

.margin-very-big {
  margin-bottom: min(12vw, 154px);
}

.margin-big {
  margin-bottom: min(6vw, 76px);
}

.sponsor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%;
}

.sponsor__elem {
  display: flex;
  justify-content: center;
  max-height: 45px;
}

.banner-company-link {
  display: block;
}

.about-company {
  display: grid;
  gap: 10%;
  grid-template-columns: repeat(2, 1fr);
}

.markrt-otange {
  color: rgba(240, 78, 1, 1);
  @include adaptiv-font-min(19, 8);
}

.about-us {
  @include adaptiv-font-min(51, 25);
  font-weight: 600;
}

.about-company__list {
  display: flex;
  flex-direction: column;
  gap: min(5vh, 36px);
}

.about-company__list-head {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: center;
  @include adaptiv-font-min(19, 7);
}

.margin-min {
  margin-bottom: min(4vw, 52px);
}

.about-company__list-text {
  color: rgba(175, 175, 175, 1);
  @include adaptiv-font-min(19, 7);
}

.statistics-company {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  column-gap: min(4vw, 52px);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

.adress-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(26px, 2vw);
}

.adress-elem {
  border-top: 9px solid black;
}

.adress-elem_orange {
  border: none;
}

.adress-elem__head {
  display: flex;
  gap: 3%;
  height: 45%;
  max-height: 85px;
}

.adress-elem__head_orange {
  height: 11.5vw;
  max-height: 123px;
  gap: 4%;
}

.address-elem__number {
  font-family: Days;
  @include adaptiv-font-min(57, 20);
  margin-top: -6%;
}


.address-elem__name {
  @include adaptiv-font-min(21, 4);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-elem__text_orange {
  color: rgba(240, 78, 1, 1);
}

.adress-elem_orange {
  border-top: 9px solid transparent;
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: min(2vh, 15px);

  div {
    font-family: Inter;
    @include adaptiv-font-min(16, 8);
  }
}

.addres-info_weight {
  font-weight: 600;
}

.often-questions_zero-padding {
  padding: 0;
}