@font-face {
  font-family: Helvetica;
  font-weight: 400;
  src: url("../fonts/helvetica/helvetica_regular.otf");
}

@font-face {
  font-family: Helvetica;
  font-weight: 700;
  src: url("../fonts/helvetica/helvetica_bold.otf");
}

@font-face {
  font-family: Helvetica;
  font-weight: 300;
  src: url("../fonts/helvetica/helvetica_light.otf");
}

@font-face {
  font-family: Days;
  font-weight: 400;
  src: url("../fonts/DaysOne-Regular.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold.otf");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("../fonts/Inter/Inter-Light.otf");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url("../fonts/lato/Lato-Bold.ttf");
}

