@import "fonts.css";
@import "adaptive";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: black;
}

%main-blue-bg {
  background: rgba(66, 98, 255, 1);
}

%main-blue-border {
  border: 1px solid rgba(66, 98, 255, 1);
}

.header {
  padding: 0 min(2.8vw, 36px);
  display: flex;
  height: min(7vw, 91px);
  align-items: center;
  gap: min(1vw, 27px);
  justify-content: space-between;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.header__logo {
  height: 39%;
  display: flex;

}

.header__nav {
  display: flex;
  font-size: 16px;
  @include adaptiv-font-min(16, 4);
  gap: min(1.5vw, 18px);
}

.header__contacts {
  display: flex;
  gap: min(0.8vw, 12px);
}

.header__buttons {
  display: flex;
  gap: min(1vw, 7px);
  align-items: center;
}

.recall {
  background: none;
  padding: min(1.2vh,9px) min(1.2vw, 18px);
  @include adaptiv-font-min(18, 1);
  @extend %main-blue-border;
  border-radius: 34px;
  cursor: pointer;

  height: min(4vw, 50px);
  display: flex;
  align-items: center;
}

.basket {
  @extend %main-blue-bg;
  @include adaptiv-font-min(19, 1);
  color: white;
  padding: min(1.2vh,9px) min(3.2vw, 36px);
  box-shadow: 0px 1.9950840473175049px 3.9901680946350098px 0px rgba(165, 165, 165, 0.25);
  border-radius: 34px;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;

  height: min(4vw, 50px);

}

.banner {
  display: flex;
  padding: min(7vw, 41px) min(2.8vw, 36px);
  justify-content: space-between;
  gap: min(4vw, 123px);
  max-height: 480px;
}

.banner__text {
  padding-top: min(2vw, 26px);
  width: 55%;
  max-width: 600px;
}

.heading {
  @include adaptiv-font-min(46, 14);
  font-family: Inter;
}

.banner_heading {
  margin-bottom: min(1vh, 11px);
}

.heading_orange {
  color: rgba(232, 89, 10, 1);
  font-family: Days;
  white-space: nowrap;
}

.subtext {
  color: rgba(5, 0, 56, 0.72);
  @include adaptiv-font-min(18, 5)
}

.banner__subtext {
  margin-bottom: min(4vh, 45px);
}

.banner__button {
  display: flex;
  flex-direction: column;
  gap: min(2vh, 21px);
  margin-bottom: min(1vh, 10px);
  max-height: 600px;
}

.buy-number {
  border-radius: 34px;
  @extend %main-blue-bg;
  @extend %main-blue-border;
  color: white;
  font-family: Inter;
  padding: min(2vh, 16px) min(2vw, 130px);
  @include adaptiv-font-min(19, 6);
  font-weight: 300;
  cursor: pointer;
  max-height: 63px;
}

.sale-number {
  border-radius: 34px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(155, 153, 175, 1);
  padding: min(2vh, 16px) min(2vw, 130px);
  @include adaptiv-font-min(19, 6);
  max-height: 63px;
}

.text-tips {
  color: rgba(5, 0, 56, 0.4);
  font-size: 15px;
  @include adaptiv-font-min(15, 3)
}

.banner__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps {
  background: rgba(245, 245, 247, 1);
  padding-bottom: min(9vh, 125px);
  margin-bottom: min(12vh, 160px);
}

.steps__heading {
  position: relative;
  @include adaptiv-font-min(30, 17);
  font-weight: bold;

  img {
    width: 100%;
  }

}

.figcaption {
  position: absolute;
  top: min(5.5vw, 72px);
  left: min(13vw, 163px);
}

.subheading_blue {
  color: white;
  @extend %main-blue-bg;
  padding-left: min(1vw, 13px);
  padding-right: min(0.7vw, 9px);
}

.steps__details {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}

.orange-number {
  color: rgba(240, 78, 1, 1);
  font-size: 57px;
  font-family: Days;
  padding-left: min(3vw, 39px);
}

.columns__header {
  font-size: 22px;
  margin-bottom: min(1vh, 14px);
  font-family: Roboto;
  display: flex;
  //gap: 0.5vw;
}

.columns__text {
  font-size: 14px;
  font-family: Roboto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.steps__description {
  display: flex;
  justify-content: space-between;
  gap: min(3vw, 38px);
}

.columns__flex {
  display: flex;
  gap: min(0.8vw, 10px);
  align-items: flex-start;
}

.columns_3 {
  width: 81%;
}

.columns_2 {
  width: 100%;
}

.columns_1 {
  width: 88%;
}

.beatiful-number {
  padding: 0 min(2.8vw, 36px);
  margin-bottom: min(4vh, 55px);
}

.beatiful-number__heading {
  font-size: 33px;
  margin-bottom: min(7vh, 97px);
}

.beatiful-number__filter {
  background: rgba(245, 245, 247, 1);
  border: 1px solid rgba(240, 78, 1, 1);
  border-radius: 34px;
  padding: min(6vh, 88px) min(2vw, 25px) min(2vh, 28px);
}

.beatiful-number__subheading {
  display: flex;
  justify-content: space-between;
  font-size: 33px;
  align-items: center;
  margin-bottom: min(3vh, 42px);
}

.clear {
  background: none;
  border-radius: 8px;
  border: 1px solid rgba(193, 193, 193, 1);
  color: rgba(193, 193, 193, 1);
  display: flex;
  align-items: center;
  padding: min(0.5vh, 7px) min(1vw, 13px);
  cursor: pointer;
}

.goods {
  padding: 0 min(2.8vw, 36px);
}

.heading2 {
  font-size: 35px;
}

.goods__underline {
  margin-bottom: min(1vh, 14px);
}

.hr_blue {
  height: 2px;
  @extend %main-blue-bg;
  @extend %main-blue-border;
  width: 4%;
}

.goods__heading {
  margin-bottom: min(2.5vh, 34px);
  display: flex;
  justify-content: space-between;
  @include adaptiv-font-min(35, 12);
}

.goods_nav {
  font-family: Roboto;
  display: flex;
  gap: min(2vw, 26px);
  @include adaptiv-font-min(15, 10);
  font-weight: 600;
  margin-bottom: min(10vh, 138px);
}

.goods__slider {
  display: flex;
  gap: min(2vw, 25px);
  margin-bottom: min(8vh, 111px);
}

.slick-track .slide {
  display: flex;
  flex-direction: column;
  gap: min(3vh, 26px);

  img {
    border-radius: 31px;
    border: 3px solid rgba(66, 98, 255, 1);
  }
}

.goods__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.good-description {
  font-size: 12px;
}

.price {
  font-family: Inter;
  font-size: 15px;
}

.goods__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-mini {
  @include adaptiv-font-min(12, 7);
  @extend %main-blue-bg;
  @extend %main-blue-border;
  color: white;
  width: min(8vw, 102px);
  border-radius: 34px;
  padding: min(1vh, 7px);
  cursor: pointer;
}

.arrows {
  display: flex;
  gap: min(0.7vw, 9px);
}

.arrows__left {
  border: 1px solid rgba(66, 98, 255, 1);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.arrows__right {
  background: rgba(66, 98, 255, 1);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.more-goods {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(240, 78, 1, 1);
  background: none;
  font-size: 20px;
  border-radius: 34px;
  display: block;
  padding: min(2vh, 15px) min(2vw, 26px);
  cursor: pointer;
}

.more-goods__margin {
  margin-bottom: min(15vh, 108px);
}

.close-tarif {
  padding: 0 min(2.8vw, 36px);
}

.slider-tarif {
  display: flex;
  gap: min(1vw, 13px);
  margin-bottom: min(8vh, 57px);
  justify-content: space-between;
}

.slide-tarif__up {
  background: rgba(245, 245, 247, 1);
  @extend %main-blue-border;
  border-radius: 34px;
  padding: min(2.5vh, 18px) min(2vw, 25px) min(87px, 12vh);
}

.slide-tarif__img {
  display: flex;
  justify-content: flex-end;
}

.slide-tarif__down {
  border-radius: 34px;
  border: 1px solid black;
  padding: min(7vh, 50px) min(3vw, 38px) min(5vh, 36px);
  margin-top: max(-9vh, -64px);
  background: white;
}

.slide-tarif__price {
  display: flex;
  border-bottom: 1px solid rgba(5, 0, 56, 0.4);
  margin-bottom: min(2vh, 15px);
}

.tarif-ruble {
  font-size: 15px;
  color: rgba(5, 0, 56, 0.4);
  align-self: flex-start;
  padding-top: min(1.5vh, 11px);
}

.tarif-price {
  font-size: 51px;
  font-family: Lato;
  font-weight: 900;
}

.tarif-month {
  font-size: 15px;
  color: rgba(5, 0, 56, 0.4);
  align-self: flex-end;
  padding-bottom: min(1.5vh, 11px);
}

.tarif__list {
  list-style-position: inside;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: min(2.5vh, 18px);
  margin-bottom: min(2vh, 15px);

  li::marker {
    font-size: 10px;
  }
}

.connect {
  @extend %main-blue-bg;
  @extend %main-blue-border;
  color: white;
  display: block;
  border-radius: 34px;
  width: 100%;
  padding: min(2vh, 15px) 0;
}

.hr_uslugi {
  width: 11%;
}

.uslugi__heading-width {
  width: 90%;
}

.uslugi-top {
  top: min(2vw, 26px);
  left: min(3vw, 39px);
}

.uslugi__body {
  padding: 0 min(2.8vw, 36px);
  display: flex;
  gap: min(2vw, 25px);
  margin-bottom: min(8vh, 57px);
  justify-content: space-between;
}

.services-card {
  background: rgba(245, 245, 247, 1);
  border-radius: 34px;
  width: min-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services-card__top {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.services-card__bottom {
  padding: min(5vh, 36px) min(38px, 3vw);
}

.services-card__heading {
  @include adaptiv-font-min(25, 17);
  margin-bottom: min(2vh, 15px);
}

.services-card__text {
  @include adaptiv-font-min(20, 11);
  margin-bottom: min(3vh, 22px);
}

//.statistics {
//  display: grid;
//  padding: 0 min(5vw);
//  grid-template-columns: 55% 45%;
//  gap: 4vw;
//  margin-bottom: 12vh;
//}

//.statistics__grid {
//  display: grid;
//  grid-template-columns: repeat(2, 1fr);
//  grid-template-rows: repeat(2, 1fr);
//  grid-auto-flow: column;
//  gap: 1.5rem;
//}

.number-daysone {
  font-family: Days;
  @include adaptiv-font-min(57, 15);
}

//.statistics__gap {
//  display: flex;
//  flex-direction: column;
//  gap: 6vh;
//}

.statistics__text {
  font-family: Days;
  @include adaptiv-font-min(14, 7);
  color: rgba(0, 0, 0, 0.6);
  line-height: 21.4px;
}

.read-more {
  display: flex;
  align-items: center;
  gap: min(2vw, 25px);
}

.read-more_blue {
  color: rgba(52, 97, 255, 1);
}

.reviews {
  padding: 0 min(2.8vw, 36px);
}

.reviews__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(2vw, 26px);
}

.reviews__margin {
  margin-bottom: min(12vh, 86px);
}

.reviews__left {
  display: flex;
  flex-direction: column;
  gap: min(2vh, 15px);
}

.arrows__reviews {
  margin-bottom: min(4vh, 9px);
  justify-content: flex-end;
}

.user {
  display: flex;
  gap: min(2vw, 26px);
}

.user__photo {
  border: 2px solid rgba(255, 217, 100, 1);
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: min(0.7vh, 5px);
}

.user__name {
  font-size: 22px;
  font-family: Inter;
  font-weight: 600;
}

.user__nickname {
  font-size: 15px;
  color: rgba(156, 163, 175, 1);

}

.reviews__first {
  @extend %main-blue-bg;
  border-radius: 34px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  padding: min(5vh, 36px) min(2.5vw, 32px);
}

.reviews__right {
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  padding: min(5vh, 36px) min(2.5vw, 32px);
  border-radius: 34px;
  background: rgba(247, 247, 248, 1);
}

.often-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(2vw, 26px);
  padding: 0 min(2.8vw, 36px);
  margin-bottom: min(12vh, 86px);
}

.often-questions__elem {
  display: flex;
  align-items: center;
  border-top: 2px solid rgba(170, 170, 170, 1);
  padding: min(4vh, 29px) min(1.5vw, 19px);
  justify-content: space-between;
  line-height: 35.85px;

}

.often-questions__elem:last-child {
  border-bottom: 2px solid rgba(170, 170, 170, 1);
}

.often-questions__left {
  display: flex;
  flex-direction: column;
  gap: min(2vh, 15px);
  margin-left: auto;
  width: 75%;
}

.newsletter {
  font-size: 35px;
  font-weight: 600;
}

.newsletter-italic {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.send-button {
  background: none;
  border-radius: 34px;
  @extend %main-blue-border;
  padding: min(2vh, 15px) min(2vw, 26px);
}

.add-review {
  display: block;
  @extend %main-blue-bg;
  @extend %main-blue-border;
  border-radius: 34px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: white;
  padding: min(2vh, 15px) min(2vw, 26px);
  @include adaptiv-font-min(19, 6);
  margin-bottom: min(12vh, 86px);
}

.footer {
  border-top: 2px solid black;
  padding: min(2vh, 15px) min(5vw, 64px);
}

.footer__top {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 60% 40%;
  padding: min(8vh, 57px) min(9vw, 115px);
  gap: 2rem;
}

.logo-footer {
  font-family: Days;
  @include adaptiv-font-min(27, 14);
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: min(2vh, 15px);
  @include adaptiv-font-min(17, 10);
  color: rgba(5, 0, 57, 1);
  font-weight: 600;
}

.footer__add {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: min(2vh, 15px);
  @include adaptiv-font-min(17, 10);
  color: rgba(5, 0, 57, 1);
}

.inn {
  font-family: Roboto;
  font-size: 16px;
  color: rgba(153, 153, 153, 1);
  width: 90%;
}

.footer__bottom {
  background: rgba(5, 0, 57, 1);
  justify-content: space-around;
  display: flex;
  padding: min(3vh, 22px) min(4vw, 51px);
}

.footer__text {
  color: white;
  font-family: Roboto;
  font-size: 13px;
  cursor: pointer;
}

.input-email {
  padding: min(2vh, 14px) min(2vw, 26px);
  background: rgba(250, 250, 250, 1);
  border-radius: 34px;
  border: none;
  width: 60%;
}

.newsletter__form {
  display: flex;
  gap: min(1vw, 13px);
}

.input-email::placeholder {
  font-family: Helvetica;
  color: rgba(170, 170, 170, 1);
}

.input-number {
  display: flex;
  gap: min(1vw, 13px);
  color: rgba(241, 79, 2, 1);
  align-items: center;
  margin-bottom: min(3vh, 22px);
}

.input-one-numb {
  width: min(4vw, 52px);
  height: min(4vw, 52px);
  border-radius: 14px;
  border: 1px solid rgba(193, 193, 193, 1);
  text-align: center;
  @include adaptiv-font-min(25, 12);
}

.search-number {
  border: 1px solid rgba(193, 193, 193, 1);
  border-radius: 14px;
  padding: min(2.43vh, 18px) min(1.5vw, 20px) min(2.36vh, 17px);
  width: 26%;
  @include adaptiv-font-min(18, 5);
  height: min(4vw, 52px);
}

.search-number::placeholder {
  @include adaptiv-font-min(18, 5);
  color: rgba(157, 157, 157, 1);
}

.input-code {
  display: flex;
  gap: min(1vw, 13px);
  color: black;
  background: white;
  border: 1px solid rgba(193, 193, 193, 1);
  align-items: center;
  font-size: 26px;
  border-radius: 12px;
  height: min(4vw, 52px);
  padding: 0 min(0.7vw, 9px);
}

.input-xz {
  width: min(2.8vw, 35px);
  height: min(2.8vw, 35px);
  border-radius: 14px;
  border: 1px solid rgba(193, 193, 193, 1);
  text-align: center;
  font-size: 25px;
  margin-bottom: auto;
}

.link-underline {
  text-decoration: underline;
  color: rgba(157, 157, 157, 1);
  margin-bottom: min(3vh, 22px);
  @include adaptiv-font-min(14, 10);
  cursor: pointer;
}

.operator {
  display: flex;
  align-items: center;
  gap: min(1vw, 13px);
  margin-bottom: min(4vh, 29px);
}

.operator__card {
  border: 1px solid rgba(193, 193, 193, 1);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  padding: min(0.5vw, 5px);
}


.range-slider {
  width: 100%;
  position: relative;
  border-radius: 5px;
  margin: 0 auto min(12vh, 86px);
  max-width: 1117px;
}

.range-fill {
  height: 5px;
  background-color: red;
  position: absolute;
  z-index: 1;
}

//.range-dot1 {
//  position: absolute;
//  height: 11px;
//  width: 11px;
//  z-index: 2;
//  background: white;
//  left: 19.5vw;
//  border-radius: 50%;
//}
//
//.range-dot2 {
//  position: absolute;
//  height: 11px;
//  width: 11px;
//  z-index: 2;
//  background: white;
//  left: 32.2vw;
//  border-radius: 50%;
//}
//
//.range-dot3 {
//  position: absolute;
//  height: 11px;
//  width: 11px;
//  z-index: 2;
//  background: white;
//  left: 45vw;
//  border-radius: 50%;
//}
//
//.range-dot4 {
//  position: absolute;
//  height: 11px;
//  width: 11px;
//  z-index: 2;
//  background: white;
//  left: 58.5vw;
//  border-radius: 50%;
//}
//
//.range-dot5 {
//  position: absolute;
//  height: 11px;
//  width: 11px;
//  z-index: 2;
//  background: white;
//  right: 15.7vw;
//  border-radius: 50%;
//}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}

//input[type="range"]::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  height: 4vw;
//  width: 4vw;
//  border-radius: 50%;
//  background: white;
//  cursor: pointer;
//  margin-top: -1.8vw;
//  position: relative;
//  z-index: 3;
//}


//input[type="range"]::-webkit-slider-thumb {
//  background-size: 160%;
//  background: url("../assets/arrow-right.svg") center;
//}
//
//input[type="range"]:last-child::-webkit-slider-thumb {
//  background-size: 160%;
//  background: url("../assets/arrow-left.svg") center;
//}
//
//input[type="range"]::-webkit-slider-runnable-track {
//  width: 100%;
//  height: 5px;
//  background: #e8e8e8;
//  border-radius: 5px;
//  border: none;
//}

.beatiful-number__range-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: min(29px, 4vh);

  div {
    @include adaptiv-font-min(19, 4);
  }

  font-family: Arial;
}

.select-options {
  display: flex;
  gap: min(2vw, 26px);
  margin-bottom: min(6vh, 44px);
}

.select-options__elem {
  width: 100%;
  padding: min(2vh, 15px) min(2vw, 26px);
  background: white;
  border-radius: 7px;
  border: 1px solid rgba(193, 193, 193, 1);
  text-align: center;
}

.search {
  background: rgba(240, 78, 1, 1);
  color: white;
  border-radius: 34px;
  border: none;
  @include adaptiv-font-min(21, 12);
  display: flex;
  gap: min(1vw, 12px);
  align-items: center;
  padding: min(3vh, 22px) min(4vw, 52px);
}

.beatiful-number__button {
  display: flex;
  justify-content: space-between;
  margin-bottom: min(5vh, 36px);
  align-items: flex-end;
}

.hide-filter {
  background: none;
  display: flex;
  gap: min(1vw, 13px);
  border: 1px solid rgb(157, 157, 157);
  color: rgb(157, 157, 157);
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  padding: min(1vh, 7px) min(1vw, 13px);
  cursor: pointer;
}

.table {
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
  padding: 0 min(2vw, 26px);
  grid-template-rows: min(3vw, 39px);
  align-items: center;
  margin-bottom: min(3vw, 39px);
}

.table__name {
  @include adaptiv-font-min(18, 7);
  color: rgba(98, 108, 119, 1);
}

.number_color {
  color: rgba(98, 108, 119, 1);
  @include adaptiv-font-min(15, 6);
}

.phone {
  @include adaptiv-font-min(16, 7);
}

.phone-price {
  color: rgba(98, 108, 119, 1);
  @include adaptiv-font-min(18, 5);
}

.select-buttons {
  background: rgb(236, 237, 241);
  border-radius: 34px;
  color: rgba(98, 108, 119, 1);
  @include adaptiv-font-min(19, 6);
  padding: min(2vh, 14px) min(2vw, 26px);
  border: none;
}


.table-body {
  display: flex;
  flex-direction: column;
}

.table__elem {
  display: flex;
}

.rt-min {
  width: 63%;
  min-width: 39px;
}

.rt-big {
  width: 14%;
}

.more-numbers {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  font-size: 19px;
  background: rgba(240, 78, 1, 1);
  padding: min(2vh, 14px) min(3vw, 39px);
  border-radius: 34px;
  color: white;
  margin-bottom: min(6vh, 43px);
  cursor: pointer;
}

.img-adaptive {
  width: 100%;
  height: auto;
}

.img-adaptive-opearator {
  max-width: 13%;
}

.input-code__number {
  @include adaptiv-font-min(26, 12);
}

.pointer {
  cursor: pointer;
}

.table_title {
  margin-bottom: min(2vh, 15px);
}

.slider-tarif__slide {
  width: 100%;
  max-width: 377px;
}

.slick-arrow {
  display: none !important;
}

.slick-track {
  display: flex;
  gap: min(2vw, 26px);
}

.goods__slider .slick-initialized .slick-slide {
  display: flex;
}

.slick-track .reviews__slide {
  display: grid;
}

.range-slider .noUi-horizontal {
  height: 11px;
}

.noUi-base {
  height: 11px;
}

.noUi-connects {
  height: 11px;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.range-slider .noUi-horizontal .noUi-handle {
  max-width: 50px;
  max-height: 50px;
  height: min(3.8vw, 46px);
  width: min(3.8vw, 46px);
  top: clamp(-18px, -1.5vw, -1px);
}

.sort-filter {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: min(19vh, 165px);
  padding: 0 min(2vw, 27px);
  gap: min(2.5vw, 31px);
  height: min(40.15px, 3.1vw);
  width: fit-content;
}

.sort-filter__text {
  color: rgba(5, 0, 56, 1);
  @include adaptiv-font-min(24, 14);
}

.sort-filter__input {
  color: rgba(98, 108, 119, 1);
  @include adaptiv-font-min(24, 14);
  cursor: pointer;
  margin: 0 auto;
}

.sort-filter__input_active {
  padding: min(0.6vw, 8px) min(2vw, 25px);
  color: rgba(240, 78, 1, 1);
  @include adaptiv-font-min(20, 10);
  border-radius: 9px;
  background: rgba(230, 230, 230, 1);
  position: relative;
  z-index: 1;
}


.sort-filter__list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  @include adaptiv-font-min(20, 10);
  border-radius: 9px;
  background: rgba(230, 230, 230, 1);
  padding: min(0.9vw, 12px) min(0.9vw, 12px);
  margin-top: max(-13px, -1vw);
  box-shadow: 0px 19px 28.119998931884766px 0px rgba(0, 0, 0, 0.1);
  gap: min(11px, 1vw);
}

.sort-filter__list_hidden {
  display: none;
}

.sort-filter__list-elem {
  border-radius: 6px;
  background: white;
  @include adaptiv-font-min(12, 1);
  opacity: 50%;
  height: min(33px, 2.5vw);
  padding: 0 0 0 min(13px, 1.1vw);
  display: flex;
  align-items: center;
}

.sort-filter__list-elem_active {
  opacity: 100%;
}

.mobile-nav {
  display: none;
}

.statistics__text_margin {
  margin-bottom: min(2vw, 26px);
}

.statistics-company div:last-child {
  grid-row-end: span 2;
}

.statistics-company {
  padding: 0 min(2.8vw, 36px);
}

.often-questions__elem {
  div {
    width: 90%;
  }
}

.logo-footer_mobile {
  display: none;
}

.modal-mobile-nav {
  display: none;
}

.statistics_margin {
  margin-bottom: min(100px, 5vw);
}