.link_orange {
  color: rgb(240, 78, 1);
}

.banner-number {
  padding: 0 min(2.8vw, 36px);
}

.beatiful-number__body {
  position: relative;
}

.header-number__margin {
  margin-bottom: min(6vh, 43px);
}

.beatiful-number__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 56px;
  display: flex;
  flex-direction: column;
}

.head-days {
  font-family: Days;
  font-size: min(10px + 35 * ((100vw - 320px) / 960), 45px);
  color: white;
}

.button-catalog {
  background: rgb(232, 89, 10);
  color: white;
  border-radius: 34px;
  border: none;
  display: flex;
  gap: 10px;
  font-size: min(3px + 9 * ((100vw - 320px) / 960), 12px);
  padding: min(1%, 12px) min(2%, 23px);
  width: fit-content;
}

.margin__head {
  margin-bottom: min(2%, 23px);
}

.beatiful-number__range {
  display: grid;
  margin-top: auto;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 4%;
  height: 20%;
  position: absolute;
  bottom: 1%;
  left: 3%;
  width: 95%;
}

.noUi-connect {
  background: rgb(232, 89, 10);
}

.noUi-target {
  background: rgb(224, 224, 224);
  border-radius: 0;
  border: none;
}

.noUi-horizontal {
  height: 3px;
}

.noUi-connects {
  border-radius: 0;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  right: -8px;
  top: -5px;
  border: 2px solid rgb(232, 89, 10);
  border-radius: 50%;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.name-range {
  color: white;
  font-family: Roboto;
  font-size: min(6px + 6 * ((100vw - 320px) / 960), 12px);
}

.slider-range__pips {
  display: flex;
  justify-content: space-between;
}

.beatiful-number__block {
  display: flex;
  flex-direction: column;
  gap: 20%;
}

.align-self {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.beatiful-number__button_sale {
  background: none;
  border-radius: 32px;
  color: white;
  font-size: min(4px + 9 * ((100vw - 320px) / 960), 13px);
  border: 1px solid white;
  padding: 7% 13%;
  cursor: pointer;
}

.beatiful-number__button_flex {
  margin: auto 0;
}

.beatiful-number__filter_mini {
  margin: 0 min(2.8vw, 88px) min(10vh, 25px);
}

.banner-number__margin {
  margin-bottom: min(15vh, 108px);
}

.main-padding {
  padding: 0 min(2.8vw, 36px);
}

.all-count-number {
  margin-left: auto;
  color: rgb(157, 157, 157);
  font-size: min(6px + 12 * ((100vw - 320px) / 960), 18px);
  display: flex;
  justify-content: end;
  margin-bottom: min(3.5vh, 26px);
}

.table_beatiful-number {
  margin-bottom: min(5vh, 36px);
}

.arrow-beatiful-number-left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  max-width: 41px;
  max-height: 41px;
  width: min(3.1vw, 40px);
  height: min(3.1vw, 40px);
}
.arrow-beatiful-number-left svg {
  width: 100%;
  height: auto;
}

.arrow-beatiful-number-right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
  max-width: 41px;
  max-height: 41px;
  width: min(3.1vw, 40px);
  height: min(3.1vw, 40px);
}
.arrow-beatiful-number-right svg {
  width: 100%;
  height: auto;
}

.splide__arrow {
  display: none;
}

.splide__pagination {
  display: none;
}

.banner-number-desktop {
  display: block;
}

.banner-number-mobile {
  display: none;
}

.header__logo:hover, .arrow-beatiful-number-left:hover, .arrow-beatiful-number-right:hover, .button-catalog:hover, .beatiful-number__button_sale:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*# sourceMappingURL=number.css.map */
