@import "adaptive-min";

.t02_uslugi {
  width: 100%;
  height: 19vh;
}


.services-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.services-card_uslugi{
  width: 95%;
  height: 95%;
  margin: 0 auto;
}

.container__margin{
  margin-bottom: 4vh;
  padding: 0;
}

.banner-services{
  background: url("../assets/banner-services.png") no-repeat;
  background-size: cover;
  padding: 3% 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-join{
  width: 45%;
  margin-bottom: 7%;
}

.banner-services__text{
  color: rgba(254, 97, 11, 1);
  font-family: Days;
  @include adaptiv-font-min(26,13);
}



.arrows_orange{
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;
  max-height: 83px;
}

.arrows__left_orange, .arrows__right_orange{
  max-width: 8%;
  z-index: 2;
  position: relative;
}

.services-gallery__margin{
  margin-bottom: 25vh;
}

.wallpaper{
  width: 100%;
}

.services-gallery{
  position: relative;
  background: url("../assets/wallpaper.png") center no-repeat;
  background-size: 100%;
}

.services-gallery__elem{
  height: 84%;
  width: 100vw;
  max-width: 1280px;
  padding: 0 min(34vw,435px);
}

.container_zero-padding{
  padding: 0;
}

.splide__list{
  align-items: center;
}

.splide__track{
  position: relative;
  height: 60vw;
  max-height: 840px;
}

.container_zero-padding {
  padding: 0;
}