@import "adaptive";

.container {
  padding: 0 2.8vw;
}

.t01{
  position: relative;
}
.tarif__subtext{
  display: flex;
  justify-content: space-between;
}
.tarif_subtext {
  color: rgba(5, 0, 56, 0.72);
  @include adaptiv-font(17, 7);
}

.orange-number_zero-pading{
  padding: 0;
}

.tarif-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1%;
}

.tarif-grid__element{
  background: url("../assets/tarif.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}