@import "../adaptive";

@media (max-width: 800px) {
  .container {
    padding: 0 10px;
  }
  .first-step {
    grid-template-columns: 1fr;
    gap: 23px;
  }
  .header-step {
    @include adaptiv-font-min(25, 15);
    margin-bottom: 1vw;
  }
  .text-step {
    @include adaptiv-font-min(17, 7);
  }
  .input-oform {
    height: 11vw;
    width: 100%;
    @include adaptiv-font-min(22, 12);
  }
  .input-oform::placeholder {
    @include adaptiv-font-min(22, 12);
  }
  .adress-grid {
    grid-template-columns: 1fr;

    div:last-child {
      width: 80%;
    }
  }
  .input-3th {
    grid-column: unset;
  }
  .margin-min {
    margin-bottom: 4vw;
  }
  .tips-step {
    @include adaptiv-font-min(19, 9);
    margin-top: 1vw;
    line-height: 3vw;
  }
  .how-delivery {
    grid-template-columns: 1fr
  }
  .how-delivery__inputs {
    flex-direction: column;
  }
  .radio-delivery__label {
    @include adaptiv-font-min(29, 19);
    width: 100%;
    text-align: center;
  }
  .input-oform_punkt {
    width: 80%;
  }
  .card {
    width: 100%;
    max-width: unset;
    padding: 51px 17px 38px;
    gap: 29px;
  }
  .radio-delivery__label_card {
    padding-left: 16vw;
    padding-right: 16vw;
  }
  .card__tips {
    @include adaptiv-font-min(23, 13);
  }
  .grid-input__elem_card::placeholder {
    @include adaptiv-font-min(23, 13);
  }
  .private_card {
    @include adaptiv-font-min(23, 13);
  }
  .input-modal + label:before {
    width: min(5vw, 17px);
    height: min(5vw, 17px);
    top: min(2vw, 8px);
  }
  .card-help {
    @include adaptiv-font-min(20, 10);
  }
  .steps-basket {
    width: 185vw;
    padding: 3vw 25px;
    height: unset;
  }
  .margin-final-basket-correct {
    margin-bottom: 15px;
  }
  .oform-order {
    .goods-main__input_oform {
      max-height: 60px;
      margin-bottom: 18px;

      input {
        max-height: 60px;
      }
    }
  }
  .card  .card-full-width.privacy-policy .private_card{
    padding-left: 29px;
  }
  .private__text{
    padding-left: 27px;
    font-size: 11px;
    height: unset;
  }
  .private__content .private__text::before {
    width: 14px;
    height: 14px;
    top: -7%;
  }
  .margin-oform{
    margin-bottom: 23px;
  }
}