@import "../adaptive";

@media (max-width: 800px) {
  .container {
    padding: 0 10px;
  }
  .header {
    padding: 0;
  }
  .goods-main {
    grid-template-columns: 1fr;
    margin-bottom: 15vw;
    max-height: unset;
  }
  .recently-watched {
    grid-template-columns: 1fr 1fr;

    div:nth-child(3), div:nth-child(4) {
      display: none;
    }
  }
  .good-reviews-modal {
    grid-template-columns: 1fr;
  }
  .goods-main__slider {
    gap: unset;
  }
  .service__desc {
    @include adaptiv-font-min(17, 7);
  }
  .about-company__list-text, .about-company__list-head div {
    @include adaptiv-font-min(18, 8);
  }
  .service__down {
    gap: 1.4vw;
  }
  .characterisitc-main-body {
    line-height: 3.5vw;
  }
  .statistics-reviews {
    grid-template-columns: 5fr 1fr;
    margin-bottom: 30px;
  }
  .statistics-reviews__number {
    @include adaptiv-font-min(20, 10);
  }
  .statistics-reviews__scale, .statistics-reviews__active-scale {
    height: 1.5vw;
  }
  .statistics-reviews__range {
    gap: 1.5vw;
  }
  .averrage-reviews__up div {
    @include adaptiv-font-min(20, 18);
    line-height: unset;
  }
  .statistics-reviews__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .averrage-reviews__bottom {
    @include adaptiv-font-min(16, 6);
  }
  .averrage-reviews__up svg {
    width: 3vw;
  }
  .splide {
    max-height: unset;
  }
  .one-review {
    gap: min(2vw, 8px);
  }
  .one-review__head {
    div {
      @include adaptiv-font-min(20, 10);
    }

    svg {
      height: min(16px, 4.2vw);
    }
  }
  .one-review__body {
    @include adaptiv-font-min(20, 10);
    line-height: min(17px, 4.56vw);
  }
  .one-review__likes {
    svg {
      height: min(4.55vw, 17px);
    }

    div {
      @include adaptiv-font-min(20, 10);
    }
  }
  .one-review__likes_zero-border {
    gap: min(1vw, 26px);
  }
  .add-review-service {
    padding: min(18px, 2.4vw) min(65px, 5.1vw);
  }
  .label-search {
    font-size: 12px;
  }
  .search-reviews {
    .label-search {
      padding-left: min(20px, 5vw);
    }

    .label-search:before {
      width: min(12px, 3.4vw);
      height: min(12px, 3.4vw);
      top: 5px;
    }
  }
  .additin-search {
    font-size: 14px;
  }
  .search-reviews svg{
    height: 12px;
  }
  .saloon-tips{
    font-size: 9px;
  }
  .saloon19{
    font-size: 12px;
  }
  .select-saloon{
    font-size: 8px;
  }
}