@media (max-width: 800px) {
  .container {
    padding: 0 10px;
  }
  .beatiful-number__main_goods {
    max-width: 70%;
    height: 77%;
  }
  .head-days_goods {
    font-size: min(18px + 45 * ((100vw - 320px) / 960), 63px);
  }
  .beatiful-number__main {
    top: unset;
    bottom: 0;
    padding-bottom: 18vw;
  }
  .banner-goods-text {
    font-size: min(6px + 20 * ((100vw - 320px) / 960), 26px);
    line-height: 2.5vw;
  }
  .search-input-goods {
    height: 18%;
  }
  .search-input-goods input[type=submit] {
    font-size: min(5px + 10 * ((100vw - 320px) / 960), 15px);
  }
  .search-input-goods input[type=text] {
    font-size: min(6px + 10 * ((100vw - 320px) / 960), 16px);
  }
  .search-input-goods input[type=text]::placeholder {
    font-size: min(6px + 10 * ((100vw - 320px) / 960), 16px);
  }
  .banner-number {
    padding: 0;
  }
  .goods-banner-flex {
    display: flex;
    justify-content: space-between;
  }
  .arrow-beatiful-number-left, .arrow-beatiful-number-right {
    display: none;
  }
  .type-goods {
    display: flex;
    width: 197vw;
  }
  .type-goods-scroll {
    overflow-x: auto;
    margin-bottom: 10vw;
  }
  .type-goods-scroll::-webkit-scrollbar {
    width: 2px;
  }
  .type-goods-scroll::-webkit-scrollbar-track {
    background: rgb(237, 237, 237);
    width: 2px;
  }
  .type-goods-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(65, 98, 255);
    width: 12px;
    border-radius: 40px;
  }
  .type-goods__text {
    font-size: min(8px + 10 * ((100vw - 320px) / 960), 18px);
  }
  .goods-main__filter {
    display: none;
  }
  .goods-main {
    display: flex;
  }
  .filter-mobile {
    display: flex;
    border-radius: 3px;
    background: rgb(66, 98, 255);
    color: white;
    font-size: min(7px + 10 * ((100vw - 320px) / 960), 17px);
    align-items: center;
    padding: 0 3.6vw;
    gap: 1.5vw;
    cursor: pointer;
  }
  .filter-mobile svg {
    width: 2vw;
    height: auto;
    margin-top: 0.5vw;
  }
  .goods-input {
    height: 7.1vw;
    justify-content: space-between;
    gap: 2%;
  }
  .goods-input__search {
    width: 43%;
  }
  .goods-input__search svg {
    width: 3.3vw;
    height: auto;
  }
  .placeholder {
    font-size: min(7px + 10 * ((100vw - 320px) / 960), 17px);
  }
  .goods-input__select {
    font-size: min(7px + 10 * ((100vw - 320px) / 960), 17px);
  }
  .goods-input__galka {
    width: 2vw;
    height: auto;
  }
  .goods-input__filter {
    padding: 0 2.6%;
    width: 30%;
  }
  .all-count-number {
    display: none;
  }
  .goods-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .slide {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .categories-filter-mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding-left: 4.5vw;
    padding-top: 2.5vw;
    padding-bottom: 3vw;
    z-index: 1;
    display: none;
    background: rgb(245, 245, 247);
  }
  .categories-filter-mobile__head {
    padding-right: 4vw;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 4vw;
  }
  .categories-filter-mobile__head div {
    font-size: min(18px + 10 * ((100vw - 320px) / 960), 28px);
  }
  .categories-filter-mobile__head svg {
    width: 5.5vw;
    height: auto;
    cursor: pointer;
  }
  .goods-main__filter_mobile {
    display: flex;
  }
  .goods-main__filter_mobile .input-goods__input + label:before {
    width: 4vw;
    height: 4vw;
  }
  .goods-main__filter_mobile .catrgories {
    display: none;
  }
  .input-goods__input + label {
    font-size: min(15px + 11 * ((100vw - 320px) / 960), 26px);
  }
  .price-filter__head {
    font-size: min(18px + 10 * ((100vw - 320px) / 960), 28px);
  }
  .noUi-connects {
    height: 2px;
    background: rgb(66, 98, 255);
  }
  .noUi-connect {
    height: 2px;
  }
  .arrows {
    display: flex;
  }
  .slider-range-price-mobile {
    margin-bottom: 8vw;
  }
}

/*# sourceMappingURL=goods.css.map */
