@import "../adaptive-min";


@media (max-width: 800px) {
  .container {
    max-width: 800px;
    padding: 0;
  }

  .header {
    padding: 10px;
  }
  .header__nav {
    display: none;
  }
  .mobile-nav {
    display: flex;

    svg {
      width: min(35px, 5vw);
      height: auto;
      cursor: pointer;
    }
  }
  .header__contacts {
    img {
      width: min(35px, 5vw);
      height: auto;
      cursor: pointer;
    }
  }

  .header__logo {
    width: min(20vw, 100px);
    height: auto;
  }

  .recall {
    @include adaptiv-font-min(12, 7);
    height: fit-content;
    padding: min(1vw, 9px) min(1.4vw, 11px);
    display: flex;
    align-self: center;
  }
  .basket {
    @include adaptiv-font-min(12, 7);
    height: fit-content;
    padding: min(1vw, 9px) min(3.6vw, 16px);
    display: flex;
    align-self: center;
    height: min(4.85vw, 29px);

    img {
      width: min(2.4vw, 19px);
      height: auto;
    }
  }

  .banner {
    flex-direction: column;
    padding: 10px;
    gap: min(7vw, 50px);
    margin-bottom: min(10vw, 56px);
  }
  .banner__text {
    width: 100%;
    max-width: unset;
    padding-top: min(2vw, 16px);

  }
  .heading {
    @include adaptiv-font-min(40, 29);
  }

  .subtext {
    @include adaptiv-font-min(20, 10);
  }

  .buy-number {
    @include adaptiv-font-min(23, 13);
  }

  .sale-number {
    @include adaptiv-font-min(23, 13);
  }

  .text-tips {
    @include adaptiv-font-min(18, 9);
  }

  .steps__description {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    padding-bottom: 2vw;

  }

  .steps__description::-webkit-scrollbar {
    width: 2px; /* ширина всей полосы прокрутки */
  }

  .steps__description::-webkit-scrollbar-track {
    background: rgba(237, 237, 237, 1); /* цвет зоны отслеживания */
    width: 2px;
  }

  .steps__description::-webkit-scrollbar-thumb {
    background-color: rgba(65, 98, 255, 1);
    width: 12px;
    border-radius: 40px; /* округлось бегунка */
  }
  .steps__description {
    left: min(4.5vw, 20px);
    top: min(10vw, 45px);
  }

  .steps__details {
    padding: 0 min(4.5vw, 20px);
    margin: unset;
    width: 100%;
  }

  .orange-number {
    padding-left: min(6vw, 33px);
    @include adaptiv-font-min(41, 31);
  }

  .columns__flex {
    img {
      width: min(35px, 5vw);
    }
  }

  .steps__heading {
    height: min(27vw, 119px);
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }


  .columns__header {
    @include adaptiv-font-min(21, 11);
  }
  .columns {
    width: min(40vw, 200px);
  }
  .columns__text {
    @include adaptiv-font-min(17, 8);
    line-height: 12.74px;
  }

  .steps {
    padding-bottom: min(4vw, 20px);
    margin-bottom: min(12vw, 80px);
  }
  .beatiful-number__heading {
    @include adaptiv-font-min(60, 20);
    margin-bottom: 4vw;
  }
  .beatiful-number__subheading {
    @include adaptiv-font-min(40, 10);
  }
  .beatiful-number__filter {
    padding: 6vw 4vw 0;
  }
  .clear {
    gap: min(0.5vw, 3px);
    border-radius: 15px;
    height: min(3.6vw);
    padding: 0 min(1.4vw, 11px);

    div {
      @include adaptiv-font-min(15, 6);
    }

    svg {
      width: min(10px, 1.5vw);
    }
  }
  .input-code {
    height: 4.7vw;
    padding: 0 1.5vw;
    border-radius: 5px;

    svg {
      width: min(1.4vw, 11px);
      height: auto;
    }
  }
  .input-code__number {
    @include adaptiv-font-min(19, 9);
  }

  .input-one-numb {
    height: 4.7vw;
    width: 4.7vw;
    border-radius: 5px;
  }
  .search-number {
    height: 4.7vw;
    padding: 0 1.5vw;
    border-radius: 5px;
  }
  .input-xz {
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 5px;
  }
  .input-number {
    margin-bottom: 3vw;
  }
  .link-underline {
    @include adaptiv-font-min(24, 6);
    margin-bottom: 3vw;
  }

  .operator__card {
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);

    img {
      height: min(3vw, 23px);
      width: auto;
    }
  }
  .rt-min {
    min-width: unset;
  }
  .operator {
    margin-bottom: 3vw;
  }
  .beatiful-number__range-number {
    margin-bottom: 3vw;
  }
  .noUi-connects {
    height: 3px;
  }
  .range-slider .noUi-horizontal {
    height: 3px;
  }
  .range-slider {
    margin-bottom: 4vw;
  }
  .select-options__elem {
    padding: 1vw 2vw;
    @include adaptiv-font-min(17, 7);
  }
  .select-options {
    margin-bottom: 6vw;
  }
  .search {
    padding: 1vw 4vw;

    svg {
      width: min(2vw, 14px);
    }

    div {
      @include adaptiv-font-min(17, 7);
    }
  }

  .hide-filter {
    padding: 0.8vw 1.1vw;
    border-radius: 5px;

    div {
      @include adaptiv-font-min(16, 6);
    }

    svg {
      width: min(1.4vw, 11px);
      height: auto;
    }
  }
  .sort-filter__input {
    @include adaptiv-font-min(18, 8);
  }
  .sort-filter__text {
    @include adaptiv-font-min(20, 10);
  }
  .sort-filter {
    margin-bottom: min(14vw, 65px);
  }
  .sort-filter__input_active {
    @include adaptiv-font-min(16, 6);
  }
  .select-buttons {
    padding: 1.5vw 2vw;
  }

  .beatiful-number {
    margin-bottom: 6vw;
  }

  .more-numbers {
    padding: 2.6vw 4vw;
    @include adaptiv-font-min(20, 10);
  }
  .heading2 {
    @include adaptiv-font-min(40, 20);
  }

  .arrows__left, .arrows__right {
    width: 6vw;
    height: 6vw;
  }
  .goods_nav {
    @include adaptiv-font-min(19, 9);
    margin-bottom: 7vw;
  }
  .goods__heading {
    margin-bottom: min(2vw, 16px);
  }
  .hr_blue {
    width: 8%;
  }

  .goods__name {
    @include adaptiv-font-min(19, 9);
  }
  .good-description {
    @include adaptiv-font-min(17, 7);
    line-height: 2.3vw;
  }
  .price {
    @include adaptiv-font-min(19, 9);
  }
  .basket-mini {
    @include adaptiv-font-min(17, 7);
    width: 15vw;
    padding: 1vw;
  }
  .slick-track .slide {
    gap: 2vw;
  }
  .goods__name {
    svg {
      width: min(2.1vw, 20px);
      height: auto;
    }
  }
  .goods__price {
    a svg {
      width: min(3.1vw, 21px);
      height: auto;
    }
  }
  .more-goods {
    padding: 2.6vw 4vw;
    @include adaptiv-font-min(20, 10);
    margin-bottom: 10vw;
  }
  .goods__slider {
    margin-bottom: 8vw;
  }
  .slide-tarif__img {
    img:first-child {
      height: auto;
      width: min(40px, 4.5vw);
    }

    img:last-child {
      height: auto;
      width: min(110px, 15.5vw);
    }
  }
  .tarif-price {
    @include adaptiv-font-min(44, 24);
  }
  .tarif-ruble, {
    @include adaptiv-font-min(17, 7);
    padding-top: 0.9vw;
  }
  .tarif-month {
    @include adaptiv-font-min(17, 7);
    padding-bottom: 0.9vw;
  }
  .tarif__list {
    @include adaptiv-font-min(22, 7);
    gap: 2vw;
    margin-bottom: 3vw;
  }
  .connect {
    @include adaptiv-font-min(22, 8);
    padding: 1.8vw 0;
  }
  .services-card__bottom {
    padding: 5vw 3.5vw;
  }
  .services-card__heading {
    @include adaptiv-font-min(21, 14);
    margin-bottom: 1.5vw;
  }
  .services-card__text {
    @include adaptiv-font-min(22, 10);
  }
  .uslugi__body {
    margin-bottom: 8vw;
  }
  .statistics-company {
    padding: 0 10px;
    column-gap: unset;
    margin-bottom: 10vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 8vw;
    grid-template-areas:
  "hcompany hcompany hcompany"
  "h1176 h100 h100"
  "h2010  h2010 h60";
  }

  .h1176 {
    grid-area: h1176;

  }
  .h2010 {
    grid-area: h2010;
  }
  .h100 {
    grid-area: h100;
  }
  .h60 {
    grid-area: h60;
  }
  .hcompany {
    grid-area: hcompany;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
  }
  .number-daysone {
    display: block;
    grid-column: 1 / span 2;
    @include adaptiv-font-min(130, 34);
  }
  .statistics-company div:last-child {
    grid-row-end: unset
  }
  .statistics__text {
    @include adaptiv-font-min(22, 11);
    line-height: 4vw;
  }
  .read-more {
    justify-content: flex-end;
  }
  .statistics__text_margin {
    margin-bottom: 0;
  }
  .reviews-head_mobile {
    position: relative;
  }
  .arrows__reviews {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 8vw;
  }
  .user__photo {
    width: 7.9vw;
    height: 7.9vw;
  }
  .reviews__right {
    display: none;
  }
  .slick-track .reviews__slide {
    display: flex;
  }
  .user__name {
    @include adaptiv-font-min(20, 10);
  }
  .user__nickname {
    @include adaptiv-font-min(18, 8);
  }
  .reviews__first {
    @include adaptiv-font-min(21, 11);
    padding: 4vw 4.2vw
  }
  .reviews__margin {
    margin-bottom: 10vw;
  }
  .add-review {
    @include adaptiv-font-min(20, 10);
    padding: 2vw 4vw;
    margin-bottom: 10vw;
  }
  .often-questions {
    grid-template-columns: 1fr;
    margin-bottom: 3vw;
    gap: 8vw;
  }
  .often-questions__elem {
    border: none;
    padding: 4.6vw 1.5vw;

    div {
      @include adaptiv-font-min(24, 12);
      line-height: 5.5vw;
      width: 72%;
    }
  }
  .often-questions__right {
    border-top: 1px solid rgb(170, 170, 170);
    border-bottom: 1px solid rgb(170, 170, 170);
  }
  .often-questions__elem:last-child {
    border: none;
  }
  .newsletter {
    @include adaptiv-font-min(29, 19);
  }
  .often-questions__left {
    margin-left: unset;
    gap: 4vw;
    width: 100%;
  }
  .newsletter-italic {
    @include adaptiv-font-min(21, 11);
  }
  .send-button {
    @include adaptiv-font-min(21, 11);
    padding: min(4.2vw, 15px) 5.9vw;
  }
  .input-email {
    width: 100%;
  }
  .newsletter__form {
    gap: 2vw;
  }
  .footer {
    padding: 8vw 9vw;
  }
  .footer__top {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    justify-items: center;
    row-gap: 5.5vw;
  }

  .footer__nav {
    @include adaptiv-font-min(18, 8);
  }
  .footer__add {
    @include adaptiv-font-min(18, 8);
  }
  .inn {
    @include adaptiv-font-min(15, 5);
  }
  .logo-footer_mobile {
    display: block;
    font-family: Days;
    @include adaptiv-font-min(23, 13);
  }
  .logo-footer {
    display: none;
  }
  .footer__text {
    @include adaptiv-font-min(17, 7);
    width: 27%;

  }
  .footer__bottom {
    align-items: center;
  }

  .modal-mobile-nav {
    display: none;
    position: fixed;
    height: 42vw;
    width: 100vw;
    z-index: 5;
    background: white;
    padding: 2vw;
  }
  .mobile-nav__close {
    svg {
      width: min(35px, 5vw);
      height: auto;
      cursor: pointer;
    }
  }
  .mobile-nav__ul{
    text-align: end;
  }
  .mobile-nav__li{
    @include adaptiv-font-min(19,9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    color: rgba(5, 0, 56, 1);
    padding: 1.5vw 0;
  }
  .slide-tarif__up{
    padding: 3vw 2vw 19vw;
    border-radius: 15px;
  }
  .slide-tarif__down{
    border-radius: 15px;
    padding: 7vw 3vw 5vw;
    margin-top: -17vw;
  }
}