@import "../adaptive";

@media (max-width: 800px) {
  .modal-basket {
    padding: 0;
  }
  .modal-buy-number{
    padding: 0 10px;
  }
  .modal-buy-number__heading{
    @include adaptiv-font-min(26,16);
  }
  .grid-input__elem{
    width: 100%;
    @include adaptiv-font-min(22,12);
  }
  .grid-input__elem::placeholder{
    @include adaptiv-font-min(22,12);
  }
  .modal-buy-number__window{
    padding: min(5.5vw, 32px);
  }
  .modal-basket__window {
    width: 100vw;
    top: min(12.9vw, 49px);
    max-width: unset;
    border-radius: 16px;
    padding: 7.2vw 3.8vw;
    gap: min(3vw,12px);
  }
  .triangle {
    width: 5.3vw;
    height: auto;
    right: 14.3vw;
    top: min(10vw, 36px);
  }
  .modal-basket__head-text {
    @include adaptiv-font-min(30, 20);
    line-height: 3vw;
  }
  .close {
    width: 2.8vw;
    height: auto;
  }
  .modal-basket__desc-head {
    @include adaptiv-font-min(19, 11);
  }
  .modal-basket__desc-text {
    @include adaptiv-font-min(17, 9);
    line-height: 3vw;
  }
  .modal-basket__price {
    @include adaptiv-font-min(17, 11);
  }
  .modal-basket__icons {
    width: 12vw;

    svg:first-child {
      width: 3.3vw;
      height: auto;
    }

    svg:last-child {
      width: 3.7vw;
      height: auto;
    }
  }
  .modal-basket__picture {
    width: 27vw;
    height: 28vw;
    padding: 14%;

    .img-adaptive {
      height: 100%;
      width: auto;
    }
  }
  .modal-basket__button {
    @include adaptiv-font-min(20, 10);
    height: 11vw;
  }
  .modal-basket__elem {
    max-width: max(66.5vw, 340px);
    gap: 2vw;
  }
  .modal-basket__scroll{
    max-height: min(32vw,183px);
  }
  .modal-margin-oform-card{
    margin-bottom: min(6%,13px);
  }
  .input-modal + label:before {
    width: min(3.8vw, 16px);
    height: min(3.8vw, 16px);
    border-radius: 5px;
  }
  .input-modal + label {
    padding-left: min(6.5vw, 25px);
    @include adaptiv-font-min(22,11);
  }
  label{
    @include adaptiv-font-min(22,11);
  }
  .delivery-input-grid__input{
    input{
      height: 38px;
    }
  }
  .delivery-input-grid__input{
    gap: 6px;
  }
  .delivery-input-grid__input:after {

    width: 10px;
    height: 10px;
    top: 58%;
    right: 26px;
    cursor: pointer;
    zoom: 65%;
  }
  .modal-delivery__scroll{
    gap: 16px;
  }
  .select-date-grid__elem label {
    height: min(96px, 12.5vw);
    padding: min(16px, 1.9vw);
  }
  .select-date-grid__elem .select-time {
    width: 18vw;
    height: 8vw;
  }
  .modal-delivery__button{
    margin-top: auto;
    @include adaptiv-font-min(25,15);
    padding: min(2vw, 13px) min(103px, 8vw);
    height: inherit;
  }
  .modal-delivery__window{
    height: min(490px, 72vh);
  }
}

@media (max-width: 800px) {
  .triangle{
    right: 7.5vw;
  }
}
@media (max-width: 750px) {
  .triangle{
    right: 8vw;
  }
}
@media (max-width: 700px) {
  .triangle{
    right: 9.5%;
  }
}
@media (max-width: 600px) {
  .triangle{
    right: 10.5%;
  }
}
@media (max-width: 550px) {
  .triangle{
    right: 11.5%;
  }
}
@media (max-width: 500px) {
  .triangle{
    right: 12.5%;
  }
}
@media (max-width: 400px) {
  .triangle{
    right: 13.5%;
  }
}
@media (max-width: 360px) {
  .modal-basket__price{
    @include adaptiv-font-min(20,10);
  }
  .select-date-grid__elem label div{
    @include adaptiv-font-min(18,7.7);
  }

}
@media (max-width: 340px) {
  .triangle{
    right: 14.5%;
  }
}
@media (max-width: 340px) {
  .triangle{
    right: 15.7%;
  }

}